<header class="d-flex justify-content-between align-items-end">
    <div class="d-flex ms-3 mt-3">
        <img ngSrc="assets/img/rick.webp" width="210" height="180" class="d-block" priority alt="Rick">
        <img ngSrc="assets/img/and.webp" width="83" height="180" class="d-block ms-4" priority alt="and">
        <img ngSrc="assets/img/morty.webp" width="269" height="180" class="d-block ms-4" priority alt="Morty">
    </div>
    <form class="search-form me-3">
        <mat-form-field class="full-width">
            <mat-label>Find a character</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Character name" matInput [formControl]="nameCtrl"
                [matAutocomplete]="auto">
            <mat-icon matSuffix>search</mat-icon>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</header>
