.mat-mdc-text-field-wrapper {
    background-color: var(--rm-blue)!important;
    border: 2px solid var(--rm-dark-blue)!important;
}
.host.app-header {
    background-color: var(--rm-blue)!important;
    border: 2px solid var(--rm-dark-blue)!important;
}
:host {
    background-color: var(--rm-blue)!important;
    border: 2px solid var(--rm-dark-blue)!important;
    mat-form-field {
        div.mat-mdc-text-field-wrapper.mdc-text-field--filled:not(.mdc-text-field--disabled){
background-color: var(--rm-blue)!important;
    border: 2px solid var(--rm-dark-blue)!important;
        }

}
}
