<header class="mat-app-background position-fixed
    d-flex flex-column flex-md-row
    justify-content-between
    align-items-end align-items-center
    w-100 top-0 pt-3">
    <div class="d-flex d-land-none ms-md-3 w-100">
        <img ngSrc="assets/img/rick-and-morty.webp" width="562" height="180" class="d-block px-3 cls-rick-and-morty" priority alt="Rick and Morty">
    </div>
    <form class="search-form
        d-flex flex-column flex-lg-row flex-grow-1
        justify-content-sm-center align-items-center
        w-100 px-3">
        <span class="position-land-absolute">
            <h2>{{counter}}</h2>
        </span>
        <mat-form-field class="full-width d-land-none flex-grow-1 ms-lg-4"  appearance="fill" [class.cls-panel-opened]="isPanelOpened">

            <mat-label>Find a character</mat-label>
            <input type="text" placeholder="Pick one" aria-label="Character name" matInput [formControl]="nameCtrl"
                [matAutocomplete]="auto" class="cls-input">
            <mat-icon matSuffix role="button" (click)="this.nameCtrl.setValue(''); closePanel()" >closed</mat-icon>
            <mat-icon matSuffix class="ps-0">search</mat-icon>
            <mat-autocomplete class="cls-search-panel"
                (opened)="isPanelOpened=true"
                (closed)="isPanelOpened=false" #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredNames$ | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</header>
